.columnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: 4rem;
}

@media (min-width: 1025px) and (max-width: 1150px) {
    .columnas {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 651px) and (max-width: 1024px) {
    .columnas {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .columnas {
        grid-template-columns: 1fr;
    }
}